__pycache__/
.pytest_cache/
docs/api/_build/
projects/
logs/
dist/
build/
config/user_settings.json
src/python/resources_rc.py
src/python/resources_rc.pyclear
Forgerly.egg-info
*.o
*.obj
*.a
*.dll
*.so
*.exe
